.body{
    margin: 0;
    width: 100%;
}
.header {
    background: #fbfffb;
    position: absolute;
    top: 0;
    width: 100%;
    height: 180px;
}
#logo-text {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
}
#register_button{
    color: #fbfffb;
    position: absolute;
    top:127px;
    right: 85px;
    text-decoration: none;
}
#login_button{
    color: #fbfffb;
    position: absolute;
    top: 127px;
    right:15px;
    text-decoration: none;
}
#nav{
    position: absolute;
    top: 100px;
    background: #333;
    border-bottom: 2px solid #169fe6;
    width: 100%;
    height: 50px;
}
#home{
    position: absolute;
    margin-left: 4px;
    margin-bottom: 5px;
}
#button-home{
    width: 55px;
    height:50px;
    border-right: 1px solid #fbfffb;

}
#img-logo{
    width: 120px;
    height: 70px;
    position: absolute;
    left: 300px;

}
#navbar{
    position: absolute;
    top:0;
    left:55px;
}
#car{
    position: absolute;
    left: 1px;}
#news{
    position: absolute;
    left:151px;
}
#contacts{
    position: absolute;
    left:301px;
}

#car,#news,#contacts{
    color: #fbfffb;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    background-color: #333;
    width: 150px;
    height:50px;
    border:none;
    border-right: 1px solid #fbfffb;
}

footer{
    position: absolute;
    bottom:2px;
    width:100%;
    height: 50px;
    background-color: #333;
}

#tel ul{
    position: absolute;
    bottom:-7px;
    left: 542px;
    width: 300px;
    height:50px;
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;

}
#tel li{
    position: relative;
    margin:-16px;
    font-size: 14px;
}
#copyright{
    position: absolute;
    bottom: 8px;
    left: 89%;
    font-size: 11px;
}
#footerlogo{
    font-size: 20px;
    position: absolute;
    top: 9px;
    left: 9px;
}
#footerlogo, #copyright, #tel{
    color: #fbfffb;
    margin: 0%;
    font-family: 'Oswald', sans-serif;
}
#content{
    width:auto;
    height:auto;
}