body{
    margin:0;
    width: 100%;
    height:auto;
    background-color: #e9ede9;
}
#content{
    position: absolute;
    width:100%;
    height:auto;
}
.header {
    background: #fbfffb;
    position: absolute;
    top: 0;
    width: 100%;
    height: 180px;
}
#logo-text {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
}
#register_button{
    color: #fbfffb;
    position: absolute;
    top:127px;
    right: 85px;
    text-decoration: none;
}
#login_button{
    color: #fbfffb;
    position: absolute;
    top: 127px;
    right:15px;
    text-decoration: none;
}
#nav{
    position: relative;
    top: 12px;
    background: #333;
    border-bottom: 2px solid #169fe6;
    width: 100%;
    height: 50px;
}
#home{
    position: absolute;
    margin-left: 4px;
    margin-bottom: 5px;
}
#button-home{
    width: 55px;
    height:50px;
    border-right: 1px solid #fbfffb;

}
#img-logo{
    width: 120px;
    height: 70px;
    position: absolute;
    left: 300px;

}
#navbar{
    position: absolute;
    top:0;
    left:55px;
}
#car{
    position: absolute;
    left: 1px;}
#news{
    position: absolute;
    left:151px;
}
#contacts{
    position: absolute;
    left:301px;
}

#car,#news,#contacts{
    color: #fbfffb;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    background-color: #333;
    width: 150px;
    height:50px;
    border:none;
    border-right: 1px solid #fbfffb;
}

footer{
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 50px;
    background-color: #333;
}

#tel ul{
    position: absolute;
    bottom:-7px;
    left: 542px;
    width: 300px;
    height:50px;
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;

}
#tel li{
    position: relative;
    margin:-16px;
    font-size: 14px;
}
#copyright{
    position: absolute;
    bottom: 8px;
    left: 89%;
    font-size: 11px;
}
#footerlogo{
    font-size: 20px;
    position: absolute;
    top: 9px;
    left: 9px;
}
#footerlogo, #copyright, #tel{
    color: #fbfffb;
    margin: 0%;
    font-family: 'Oswald', sans-serif;
}

.login_form{
    position: absolute;
    top:158px;
    left:42%;
    width: 220px;
    height: 155px;
    margin-bottom: 200px;
}
.restore_pass button{
    margin-left:280px;
}
.login_form label {
    display: none;
}

.login_form input[type="text"],.login_form input[type="password"] {
    width: 100%;
    height: 40px;
    position: relative;
    margin-top: 7px;
    font-size: 14px;
    color: #000000;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .49);
    padding-left: 20px;
    background-clip: padding-box;
    border-radius: 6px;
    background-color: #fbfffb;
    box-shadow: inset 0px 2px 0px #d9d9d9;
}

.login_form input[type="text"]:focus,.login_form input[type="password"]:focus {
    box-shadow: inset 0px 3px 0px #808080;
}

.login_form input:first-child {
    margin-top: 0px;
}

.login_form input[type="submit"] {
    width: 90px;
    height: 35px;
    margin-top: 7px;
    margin-left: 142px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0px -1px 0px #8b8b8b;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .49);
    background-clip: padding-box;
    border-radius: 6px;
    background-color: #333;
    box-shadow: inset 0px 1px 0px #242424;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.login_form input[type="submit"]:hover {
    background-color: #7e848b;
    box-shadow: inset 0px 1px 0px #a8a8a8;
    margin-top: 10px;
}

.login_form input[type="submit"]:active {
    background-color: #70757c;
    box-shadow: inset 0px 1px 0px #999999;
}

.contact_form, .profile_form, .restore_pass{
    position: absolute;
    top:50px;
    left: 418px;
    margin-bottom: 75px;
}

.contact_form h2, .contact_form label, .profile_form h2,
.profile_form label, .restore_pass h2, .restore_pass label {
    font-family:'Orbitron', sans-serif;
}

.form_hint, .required_notification {
    font-size: 11px;
}

.contact_form ul, .profile_form ul, .restore_pass ul {
    width: 444px;
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}

.contact_form li, .profile_form li, .restore_pass li{
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}

.contact_form li:first-child, .contact_form li:last-child, .profile_form li:first-child,
.profile_form li:last-child, .restore_pass li:first-child, .restore_pass li:last-child {
    border-bottom:1px solid #777;
}

.contact_form h2, .profile_form h2{
    margin-left: 143px;
    display: inline;
}
.restore_pass h2{
    margin-left: 72px;
    display: inline;
}

.required_notification {
    color:#d45252;
    margin:5px 0 0 0;
    display:inline;
    float:right;
}

.contact_form label, .profile_form label, .restore_pass label {
    width: 150px;
    margin-top: 3px;
    display: inline-block;
    float: left;
    padding: 3px;
}

.contact_form input, .profile_form input, .restore_pass input {
    height:20px;
    width:220px;
    padding:5px 8px;
}

.contact_form textarea, .profile_form textarea, .restore_pass textarea {
    padding:8px; width:300px;
}

.contact_form button, .profile_form button {
    margin-left:156px;
}

.contact_form input, .contact_form textarea, .profile_form input,
.profile_form textarea, .restore_pass input, .restore_pass textarea {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}

.contact_form input:focus, .contact_form textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
}

button.submit {
    background-color: #333333;
    background: linear-gradient(top, #3d3d3d, #2c2c2c);
    border: 1px solid #333333;
    border-bottom: 1px solid rgba(51, 51, 51, 0.95);
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 rgba(6, 6, 6, 0.87);
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #333333;
}

button.submit:hover {
    opacity:.85;
    cursor: pointer;
}

button.submit:active {
    border: 1px solid #232323;
    box-shadow: 0 0 10px 5px #333333 inset;
}

.contact_form input:focus, .contact_form textarea:focus {
    padding-right:70px;
}

.contact_form input, .profile_form input, .contact_form textarea {
    transition: padding .25s;
    padding-right:30px;
}

input:required, textarea:required {
    background: #fff url(images/asterisk.jpg) no-repeat 98% center;
}

.contact_form input:focus:invalid, .contact_form textarea:focus:invalid {
    background: #fff no-repeat 98% center;
    box-shadow: 0 0 5px #d4683c;
    border-color: #b0525e
}
.contact_form h2:{
    text-align: center;
}
.contact_form input:required:valid, .contact_form textarea:required:valid,
.restore_pass input:required:valid, .restore_pass textarea:required:valid{
    background: #fff no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-bottom-color: #28921f;
}
.forgot_pass{
    position: absolute;
    top: 314px;
    left: 708px;
}
.news_articles{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 80px;
    position absolute;
    top:100px;
    left:20px;
    width:50%;
    height:auto;
    border-right: 1px solid grey;
}
.articles{
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 80px;
    position: absolute;
    top:-20px;
    right:20px;
    width:45%;
    height:auto;
}
article{

    border-bottom: 1px solid grey;
    margin-right:25px;
}
#news_head{
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    text-align:  center;
}