.header {
    background: #fbfffb;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 180px;
}
#logo-text {
    margin: 0%;
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
}
#nav{
    position: absolute;
    top: 100;
    background: #333;
    border-bottom: 2px solid #169fe6;
    width: 100%;
    height: 50px;
}
#home{
    position: absolute;
    margin-left: 4px;
    margin-bottom: 5px;
}
#button-home{
    width: 55px;
    height:50px;
    border-right: 1px solid #fbfffb;

}
#img-logo{
    width: 120px;
    height: 70px;
    position: absolute;
    left: 300px;

}
#navbar{
    position: absolute;
    top:0px;
    left:55px;
}
#car{
    position: absolute;
    left: 1px;}
#news{
    position: absolute;
    left:151px;
}
#contacts{
    position: absolute;
    left:301px;
}

#car,#news,#contacts{
    color: #fbfffb;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    background-color: #333;
    width: 150px;
    height:50px;
    border:none;
    border-right: 1px solid #fbfffb;
}

footer{
    position: absolute;
    bottom:2px;
    width:100%;
    height: 50px;
    background-color: #333;
}
