<div id="box">

<ul class="products">
    <li>
        <a class="frm" href="#"><img id="car_page" src="img/308/3081.jpg" alt="" /></a>
        <a class="txt" href="#">Peugeot 308  2008</a>
    </li>
    <li>
        <a class="frm" href="#"><img id="car_page" src="img/2109/vaz1.png" alt="" /></a>
        <a class="txt" href="#">ВАЗ 21093  1991</a>
    </li>
    <li>
        <a class="frm" href="#"><img id="car_page" src="img/accord/accord1.jpg" alt="" /></a>
        <a class="txt" href="#">Honda accord  2003 </a>
    </li>
</ul>
    <ul class="products">
        <li>
            <a class="frm" href="#"><img id="car_page" src="img/aveo/smart1.jpg" alt="" /></a>
            <a class="txt" href="#">Chevrolet Aveo  2005</a>
        </li>
        <li>
            <a class="frm" href="#"><img id="car_page" src="img/bmw 525/bmw1.jpg" alt="" /></a>
            <a class="txt" href="#">Bmw 525  1999</a>
        </li>
        <li>
            <a class="frm" href="#"><img id="car_page" src="img/camry/camry1.jpg" alt="" /></a>
            <a class="txt" href="#">Toyota Camry 30  2002 </a>
        </li>
    </ul>
    <ul class="products">
        <li>
            <a class="frm" href="#"><img id="car_page" src="img/camry40/camry401.jpg" alt="" /></a>
            <a class="txt" href="#">Toyota Camry 40  2007 </a>
        <li>
            <a class="frm" href="#"><img id="car_page" src="img/camry50/camry501.JPG" alt="" /></a>
            <a class="txt" href="#">Toyota Camry 50  2012</a>
        </li>
        <li>
            <a class="frm" href="#"><img id="car_page" src="img/cerato/cerato1.jpg" alt="" /></a>
            <a class="txt" href="#">Kia Cerato LX  2007 </a>
        </li>
    </ul>
</div>