<div id="box">

<ul class="products">
    <li>
        <a class="frm" id="car_photo1" href="#"></a>
        <a class="txt" href="#">Peugeot 308  2008</a>
    </li>
    <li>
        <a class="frm" id="car_photo2" href="#"></a>
        <a class="txt" href="#">ВАЗ 21093  1991</a>
    </li>
    <li>
        <a class="frm" id="car_photo3" href="#"></a>
        <a class="txt" href="#">Honda accord  2003 </a>
    </li>
</ul>
    <ul class="products">
        <li>
            <a class="frm" id="car_photo4" href="#"></a>
            <a class="txt" href="#">Chevrolet Aveo  2005</a>
        </li>
        <li>
            <a class="frm" id="car_photo5" href="#"></a>
            <a class="txt" href="#">Bmw 525  1999</a>
        </li>
        <li>
            <a class="frm" id="car_photo6" href="#"></a>
            <a class="txt" href="#">Toyota Camry 30  2002 </a>
        </li>
    </ul>
    <ul class="products">
        <li>
            <a class="frm" id="car_photo7" href="#"></a>
            <a class="txt" href="#">Toyota Camry 40  2007 </a>
        <li>
            <a class="frm" id="car_photo8" href="#"></a>
            <a class="txt" href="#">Toyota Camry 50  2012</a>
        </li>
        <li>
            <a class="frm" id="car_photo9" href="#"></a>
            <a class="txt" href="#">Kia Cerato LX  2007 </a>
        </li>
    </ul>
</div>