<form class="profile_form" action="" name="profile_form">
    <ul>
        <li>
            <h2>Изменение пароля</h2>
        </li>
        <li>
            <label for="name">Старый пароль:</label>
            <input type="password" />
        </li>
        <li>
            <label for="name">Новый пароль:</label>
            <input type="password"/>
        </li>
        <li>
            <label for="email">Повторите новый пароль:</label>
            <input type="password" />
        </li>
        <li>
            <button class="submit" type="submit">Обновить профиль</button>
        </li>
    </ul>
</form>