<div class = "contact_page">
    <ul>
        <li>Наш адрес: бул. Дружбы Народов, 23</li>
        <li></li>
        <li>Вт-Вс: 10:00 - 22:00</li>
        <li>Пн: выходной</li>
    </ul>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2542.238767840554!2d30.540414315488448!3d50.41802287947098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf6b72b7b2ef%3A0xc10b872bbf0105aa!2z0LHRg9C70YzQstCw0YAg0JTRgNGD0LbQsdC4INCd0LDRgNC-0LTRltCyLCAyMywg0JrQuNGX0LI!5e0!3m2!1sru!2sua!4v1483193860601" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
    <p id="email_contacts">Email: automarket@gmail.com</p>
</div>
