<form class="login_form" action="" method="post" name="login_form" onsubmit="return validate()">
    <label for="username">Логин:</label><input type="text" id="UserName"  placeholder="email@example.com">
    <label for="password">Пароль:</label><input type="password" id="UserPassword" placeholder="Ваш пароль">
    <input type="submit" value="Войти">
</form>
<form>
    <a href="restore_password.html" target="_blank">
        <button class="forgot_pass" type="button">Забыли пароль?</button>
    </a>
</form>