<section class = "newsArticlesPage">
    <p id = "news_head"><strong>Новости</strong></p>
    <article id="art">
        <p><strong>Volkswagen покинет WRC после окончания сезона 2016.</strong></p>
        <p>Компания Volkswagen официально заявила об уходе из чемпионата мира по ралли WRC.
            Заводская команда немецкого бренда завершит нынешний сезон,
            однако в следующем принимать участие уже не будет.</p>

            <p>«Бренд Volkswagen столкнулся с серьезными вызовами.
            В связи с предстоящей электрификацией модельного ряда,
            мы должны сфокусировать все наши силы на технологиях будущего.
            Мы превзошли все ожидания в WRC, и теперь перегруппируем Volkswagen Motorsport
            чтобы двигаться вперед», — сообщил член правления Volkswagen Франк Уэлш.
            При этом автопроизводитель уделит больше внимания клиентским соревнованиям,
            в частности ралли-кроссу и кузовному чемпионату TCR.
                Также компания подготовит новый раллийный VW Polo категории R5.</p>


            <p>Об уходе Volkswagen из соревнований WRC было объявлено за один этап
            до завершения нынешнего сезона, который пройдет 17-20 ноября в Австралии.
            За два дня до этого команда Volkswagen Motorsport обеспечила себе в Великобритании
            четвертый подряд титул чемпионов в зачете производителей. После ухода VW из раллийного
            первенства в серии останется три заводские команды: Citroen, Hyundai и Toyota,
                а также M-Sport, выступающая на автомобилях Ford.</p>
            <p>Пилотам Себастьяну Ожье и Яри-Матти Латвала придется искать новые возможности
                продолжения карьеры в автоспорте.</p>

            <p>На прошлой неделе принадлежащая концерну Volkswagen компания Audi объявила
            о прекращении участия убытками, которые концерн понес из так называемого дизельного
            скандала.</p>
    </article>
    <article>
        <p><strong>Минюст хочет лишать должников водительских прав.</strong></p>
        <p>Министерство юстиции Украины планирует изменить законодательство в сфере
            исполнительного производства по части ограничительных мер для должников
            и неплательщиков алиментов. В числе возможных нововведений в ведомстве
            назвали реализацию механизма лишения должников водительских удостоверений.</p>

            <p>Заместитель министра юстиции по вопросам исполнительной службы Сергей Шкляр
            высказал мнение, что исполнительное производство и его процедуры со временем
            необходимо будет усовершенствовать. В частности, планируется изменить
            ограничительные меры для должников. «Например, у нас предусмотрено только
                одно личностное ограничение по должникам – запрет на выезд за рубеж.</p>
            <p>В Израиле и Франции в случае неуплаты тех же алиментов, должнику могут
                приостановить действие лицензии или водительских прав», – рассказал Шкляр изданию UBR.</p>

            <p>Как пояснил замминистра юстиции, подобные жесткие меры могли быть внесены
            в законопроект «Об органах и лицах, осуществляющих принудительное исполнение
            судебных решений и решений других органов», который стал законом и вступил
            в силу 5 октября 2016 года. Однако на момент подготовки документа озвученные
                инициативы вносить не стали, опасаясь блокировки проекта закона в Верховной Раде.</p>

            <p>Прежде чем инициировать внесение дополнений в действующее законодательство,
            министерство намерено оценить эффект от уже запущенных норм и реакцию на их
            внедрение со стороны должников.</p>
    </article>
    <article>
        <p>
            <strong>Электромобилям подготовили нулевую стоимость растаможки.</strong>
        </p>
        <p>
            <p>В Верховной Раде зарегистрирован новый законопроект об освобождении
        от большинства налогов операций по ввозу электромобилей.
        Дополнительной особенностью инициативы стал пункт о предоставлении льгот
        для электромобилей-такси и аренде электрокаров.</p>
            <p>Законопроект зарегистрирован в системе документооборота Верховной Рады
                6 декабря 2016 года под №5494. Временно изменить условия растаможки и их
                условия работы в качестве автомобилей такси предлагается исключительно
                для транспортных средств с электрическими силовыми установками
                (для гибридов все ставки налогов сохранятся).
                В частности, законопроектом предусмотрено:</p>

            <p>до 2021 года освободить от уплаты НДС (20%) операций по ввозу
        на таможенную территорию электромобилей, а также комплектующих к таким ТС;</p>
            <p>освободить электромобили и комплектующие к ним от налогообложения
                акцизным налогом (109,129 евро за 1 ТС);</p>
            <p>до 2021 года отменить НДС для услуг по перевозке пассажиров на такси,
                оснащенных электрическими силовыми установками, а также предоставление
                таких пассажирских транспортных средств в аренду (лизинг, прокат,
                перевозку по заказу).</p>
            <p>Таким образом, в случае принятия законопроекта в нынешнем виде
                (с учетом уже действующего закона об освобождении электромобилей от пошлин),
                при покупке электромобиля к его стоимости необходимо будет добавить только 5%
                налога в пенсионный фонд, расходы на первую регистрацию ТС в сервисном центре
                МВД и сопутствующие расходы, связанные с получением сертификата соответствия.</p>

            <p>В пояснительной записке к законопроекту его авторы (11 народных депутатов)
                приводят результаты расчетов затрат на электромобили по сравнению с автомобилями
                с ДВС, Так, при среднестатистическом пробеге 30 тыс. км в год,
                среднем расходе бензина 10 л/100 км и его стоимости 23 грн/л,
                владелец бензинового автомобиля потратит только на топливо 60-70 тыс.
                грн в год. «Это те средства, которые, преимущественно,
                будут выведены из экономики Украины», – отмечено в документе.
                В то же время стоимость «заправок» электрокаров
                (при условии среднего потребления 10 кВт∙ч на 100 км пробега и стоимости
                1 кВт∙ч - 1.29 грн) составит 3 - 4 тыс. грн.</p>

            <p>«Принятие данного законопроекта будет способствовать снижению
        энергетической зависимости от иностранных государств,
        снижению уровня экологического загрязнения воздуха,
        внедрению современных безопасных и эффективных технологий
        в системе автомобильного транспорта. Кроме того, создав новый рынок,
        государство даст возможность развиваться службам такси, курьерским службам,
        службам доставки еды, сервисным центрам и так далее.
        Это приведет к увеличению налоговых поступлений в бюджеты всех уровней»,
        - констатировали разработчики законопроекта.
        </p>
    </article>
    <article>
        <p><strong>Opel представил новый Insignia Grand Sport 2017 с полным приводом</strong></p>
        <p>
            Компания Opel официально представила флагманскую модель Insignia нового поколения.</p>
            <p>Пока показан только купеобразный лифтбек Grand Sport,
            который будет предлагаться с различными турбодвигателями,
            новым «автоматом» и необычной для модели системой полного привода.
                Однако уже на подходе универсал и версии OPC Line с оспортивленным дизайном.</p>
            <p>Opel Insignia Grand Sport 2017 построен на новой платформе.
            Благодаря применению легких материалов и изменению конструкции кузова снаряженная
            масса «Инсигний» снизилась в среднем на 175 кг, при этом непосредственно кузов стал
            легче на 60 кг. Колёсная база модели при смене поколений выросла на 92 мм - до 2829 мм,
            что положительно сказалось на просторности для пассажиров второго ряда.
            Передний и задний свесы были укорочены, размер колеи увеличен на 11 мм,
                а высота уменьшена на 29 мм.</p>

            <p>«В дизайне новой Insignia сочетаются плавные линии и утонченный силуэт:
            автомобиль выглядит длиннее, шире и ниже, чем является на самом деле.
            Каждое дизайнерское решение передает технические ноу-хау и максимальное внимание к деталям.
            Сама аура новинки выражает дух автомобиля из более высокого класса»,
                - рассказал вице-президент Opel и Vauxhall по дизайну Марк Адамс.</p>

            <p>Семейству Opel Insignia также достались матричные
            светодиодные фары IntelliLux LED. В каждой фаре установлены по 16 светодиодных
            элементов. Гарантированная «дальнобойность» фар - 400 м.
            Публичная премьера Opel Insignia нового поколения пройдет в марте на автосалоне
            в Женеве. Вероятно, там же будет показан универсал Sports Tourer,
            кросс-версия универсала под названием Country Tourer,
            а также оспортивленные версии из линейки OPC Line, которые ранее попали
            в объективы фотошпионов. Сроки начала продаж пока не озвучены.
        </p>
    </article>
</section>