<form class="RegisterForm" method="post" onsubmit="return validateFormRegister()">
    <div class="contact_form">
    <ul>
        <li>
            <label id="names">Имя:</label>
            <input type="text" id="Name" placeholder="Your Name"/>
            <p class="err" id="errName"></p>
        </li>
        <li>
            <label>Логин:</label>
            <input type="text" id="UserName" placeholder="Your Login"/>
            <p class="err" id="errLogin"></p>
        </li>
        <li>
            <label>Email:</label>
            <input type="email" id="UserEmail" placeholder="Name@example.com"/>
            <p class="err" id="errEmail"></p>
        </li>
        <li>
            <label>Телефон:</label>
            <input type="text" id="UserPhone" placeholder="Формат +380... "/>
            <p class="err" id="errPhone"></p>
        </li>
        <li>
            <label>Пароль:</label>
            <input type="password" id="UserPassword1" placeholder="Enter password"/>
            <p class="err" id="errPass1"></p>
        </li>
        <li>
            <label>Пароль:</label>
            <input type="password" id="UserPassword2" placeholder="Repeat password"/>
            <p class="err" id="errPass2"></p>
        </li>
        <li>
            <button class="submit" type="submit">Зарегистрироваться</button>
        </li>
    </ul>
</div>
</form>