<div class="contact_form">
    <ul>
        <li>
            <label id="names">Имя:</label>
            <input type="text" id="Name" placeholder="Your Name" required/>
            <p id="err"></p>
        </li>
        <li>
            <label>Логин:</label>
            <input type="text" id="UserName" placeholder="Your Login" required />
        </li>
        <li>
            <label>Email:</label>
            <input type="email" id="UserEmail" placeholder="Name@example.com" required />
        </li>
        <li>
            <label>Телефон:</label>
            <input type="text" id="UserPhone" placeholder="Формат +380... #" required />
        </li>
        <li>
            <label>Пароль:</label>
            <input type="password" id="UserPassword1" placeholder="Enter password" required />
        </li>
        <li>
            <label>Пароль:</label>
            <input type="password" id="UserPassword2" placeholder="Repeat password" required />
        </li>
        <li>
            <button class="submit" type="submit">Зарегистрироваться</button>
        </li>
    </ul>
</div>